<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="HospitalRunV1">
	<listeners>
		<listener class-name="com.HospitalRun.utilities.Reporting" />
	</listeners>
	<test name="HealthcareApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.HospitaRun.testCases.TC_LoginTest_001" /> 
			<class name="com.HospitaRun.testCases.TC_NewPatients_002" /> 
			<class name="com.HospitaRun.testCases.TC_AdmissionDetail_003" />



		</classes>
	</test>
</suite>